<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
 
 
 
<!--Nav bar starts here-->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Marshmallow</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!--Nav bar ends here-->
 
  <div class="fullscreen-img"></div>
  
  
<!--products starts here-->
<section id="top">
    <div class="container">
       <h1>Top Products</h1>
        <div class="row">
            <div class="col l4 m6 s12">
                <h4>Smartphones</h4>
                <ul class="products">
                    <li class="product">
                        <p class="product-title">iPhone 7 Plus</p>
                        <i class="material-icons product-right medium">trending_down</i>
                        <p class="product-rating"><i class="product-stars">
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            
                            </i>4.3</p>
                        <p class="product-sentiment">
                            <span class="positive">
                          <i class="material-icons tiny">thumb_up</i>
                            43,6544</span>
                            <span class="negative">
                            <i class="material-icons tiny">thumb_down</i>
                            43,6544</span>
                        </p>
                    </li>
                </ul>
            </div>
            
            <div class="col l4 m6 s12">
                <h4>Tablets</h4>
                <ul class="products">
                   
                </ul>
            </div>
            
            <div class="col l4 m6 s12">
                <h4>Processors</h4>
                <ul class="products">
                   
                </ul>
            </div>
            
        </div>
    </div>
</section>
 <!--products ends here-->




  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="container">
      <a class="orange-text text-lighten-3" href="http://materializecss.com"></a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
